
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    position: relative;
    z-index: 1;
    height: 89vh;
    overflow: hidden;
}


.content {
    max-width: 50%;
}

.content h3 {
    color: #999999;
    text-align: left;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.content h1{
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 2rem;
    text-align: left;
}


.content h1 span {

    color: #999999;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.hire-me,
.download-cv {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

.hire-me{
    background:#999999;
    color: white;
}


.hire-me:hover{
    background: #777777;
}

.download-cv {
    background-color: #ffffff;
    border: 2px solid #999999;
    color: #999999;
}

.download-cv:hover {
    background: #f7f7f7;
}

.image-container {
    max-width: 50%;
}

.image-container img {
    max-width: 117%;
    height: 97vh;
    display: block;
}


@media (max-width:1024px) {

    .header-container{
        padding: 2rem 1rem;
    }

    .content {
        position: relative;
        top: 2rem;
        max-width: 60%;
    }

    .image-container {
        width: 100%;
        position: relative;
        bottom: 10px ;
    }
}


@media (max-width:768px){
    
    .header-container{
        flex-direction: column;
        text-align: center;
        height: auto;
        padding: 2rem 1rem;
    }

    .content{
        max-width: 100%;
        margin-top: 2rem;
    }

    .image-container{
        max-width: 100%;
        margin-top: 2rem;
        height: auto;
    }

    .content h3 {
        position: relative;
        top: 1rem;
    }

    .content h1 {
        font-size: 2rem;
    }

    .image-container img {
        margin-top: 2rem;
        width: 100%;
        height: auto;
    }
}