

.testmonia-slider{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 40px 0;
}

.testimonial{
    background: #ffff00;
    padding:  20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(30, 28, 28);
}

.testimonial p{
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

.testmonial-info{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}    

.testmonial-info img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.testmonial-info div{
    text-align: center;
}

.testimonial-info h4{
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}


.testimonial-info p{
    margin: 0;
    font-size: 14px;
    color: #777;
}


